.productsWrapper{
    margin:50px;
    padding:0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    list-style-type: none;
}
.productWrapper {
    border: 1px solid gray;
    border-radius: 20px;
    cursor: pointer;
}
.imgWrapper {
    margin:10px;
    width: 90%;
    height: auto;
}
.title{
    font-size: 24px;
}
.price {
    font-size: 20px;
    color: gray;
}

.quantityWrapper{
    display: flex;
    width: 100%;
    border: none;
    margin-bottom: 20px;
    justify-content: center;
}
.quantityWrapper1 {
    visibility: hidden;
}
.quantityWrapper button {
    width: 50px;
}
.quantityWrapper input {
    width: 50px;
    text-align: center;
}
.buttonWrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.btn1 {
    font-size: 16px;
    padding: 12px;
    background-color: lightblue;
    border: none;
}
.btn2{
    font-size: 16px;
    background-color: green;
    padding: 12px;
    border: none;
}